<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container"  >
    <div class="row" style="margin-top:50px; margin-left:30%;">
        <div class='col-sm-6'>
            
            <div class="form-group">
                    <div class="jumbotron">
                    <p style="margin-left:5%; font-size: 100%;">Notre boutique en ligne, désormais accepte les récuperations planifié. Vous pouvez le faire dès maintenant pour votre commande. </p>
                    <p style="margin-left:5%; font-size: 100%;">Veuillez donner la date et l'heure de récuperation de votre commande.</p>
                    </div>
                <div class='input-group date' id='datetimepicker3' >
                    <input  data-format="dd/MM/yyyy hh:mm:ss" type='text' class="form-control"  />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                    
            </div>
            
            <div class="form-group">
  <label class="col-md-4 control-label" for="enregistrer"></label>
  <div class="col-md-4">
    <button id="enregistrer" name="enregistrer" class="btn btn-primary" onclick="etape2cmd()">Commendez !</button>
  </div>
</div>
        </div>
    </div>
</div>




