<head>
    <!-- Importations -->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <!-- CSS perso -->
    <link rel="stylesheet" href="view/css/drive.css">

    <!-- JQuery -->
    <script src="lib/jquery.js"></script>
    <!-- Boostrap Javascript -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Titre de la page -->
    <title>&#9835; &#9834;</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
