<head>
    <!-- Importations -->
    <link rel="shortcut type:image/x-icon .ico icon" href="view/images/logo/icon.ico" /> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-datetimepicker.css">
    <!-- CSS perso -->
    <link rel="stylesheet" href="view/css/drive.css">
    <link rel="stylesheet" href="view/css/panier.css">

    <!-- JQuery -->
    <script src="lib/jquery.js"></script>
    <!-- Boostrap Javascript -->
    <script src="lib/bootstrap.js"></script>
    <script src="lib/bootstrap/js/bootstrap-datetimepicker.js"></script>
    <!-- Titre de la page -->
    <title>Drive</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
