<!-- Contenu principal de la page 
Il sera modifié à l'aide de fonctions JavaScript -->


<div class="alert alert-success alert-dismissible" id="subsribe-success" role="alert">
            <button type="button" class="close" onclick="$('#subsribe-success').hide(200)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Insrciption effectuée avec succès. Vous pouvez maintenant vous connecter
        </div>

 <div id = "content">
                
                <div id = "center">
                    <p>Bienvenue dans notre site de drive dévéloppé dans le cadre de cours du CSI.</p>
                </div>
            </div>