<!-- Contenu principal de la page 
Il sera modifié à l'aide de fonctions JavaScript -->


<div id = "content">

    <div id = "center">

        <div class="jumbotron">
                    <p style="margin-left:30px;">Bienvenue dans notre site de drive dévéloppé dans le cadre de cours de CSI.</p>
                    <p style="margin-left:30px;">Si vous souhaitez faire des achats, veuillez créer un compte</p>
                    <p><button class="btn btn-success no-radius" onclick="showForm();" style="margin-left:30px;">S'inscrire</button></p>
                    </div>

        <div class="alert alert-success alert-dismissible" id="subsribe-success" role="alert">
            <button type="button" class="close" onclick="$('#subsribe-success').hide(200)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Insrciption effectuée avec succès. Vous pouvez maintenant vous connecter
        </div>
    </div></div>