<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend style="color: graytext; font-size:20pt;">Se connecter</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="user">Nom d'utilisateur</label>  
  <div class="col-md-4">
  <input id="user" name="user" type="text" placeholder="user" class="form-control input-md"> 
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pass">Mot de passe :</label>
  <div class="col-md-4">
    <input id="pass" name="pass" type="password" placeholder="pass" class="form-control input-md">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="connect"></label>
  <div class="col-md-4">
    <button id="connect" name="connect" class="btn btn-primary" onclick="connectin(event)"> Se connecter </button>
  </div>
</div>

</fieldset>
</form>
